@font-face {
    font-family: Unispace;
    src: url(./design/unispace.ttf) format(ttf);
}

@import url('https://fonts.googleapis.com/css2?family=Ubuntu&display=swap');

html, body{
    font-family: 'Ubuntu';
    overflow: hidden;
    background-color: #1b3f3d;
    text-align: center;
    margin: 0;
    padding: 0;
}


.grid{
    background-color: #1d7874;
    padding: 10px;
    border: solid 5px #a1d7cb;
    border-radius: 50px;
    grid-column: 2;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 85vh;
}


div #result {
    background-color: #e64f52;
    border: solid 1px #f35a5c;
    font-size: 25px;
    height: 50px;
    border-radius: 50px;
    color: #f4c095;
    margin-top: 20px;
    width: 50%;
}

div #result #answer {
    margin-right: 50px;
    margin-top: 10px;
    order: 2;
    text-align: right;
}

div #numbers {
    display: grid; 
    grid-template-columns: 100px 50px 50px 100px;
    grid-template-rows: 100px 100px 100px 100px;
    justify-content: center;
    margin-top: 50px;
    margin-right: 10px;
}

div #numbers #seven{
    grid-column-start: 1;
    grid-column-end: 4;
    grid-row: 1;
    
}
div #numbers #four{
    grid-column-start: 1;
    grid-column-end: 4;
    grid-row: 2;
}

div #numbers #one{
    grid-column-start: 1;
    grid-column-end: 4;
    grid-row: 3;
}

div #numbers #last{
    grid-column-start: 1;
    grid-column-end: 4;
    grid-row: 4;
}

div #numbers button{
    font-family: 'Unispace';
    color: #1d7874;
    padding: 20px;
    background-color: #a1d7cb;
    border: solid #66bab6 2px;
    border-radius: 100px;
    font-size: 20px;
    font-weight: bold;
}

div #numbers button:hover{
    animation-name: smooth;
    animation-duration: 0.2s;
    animation-fill-mode: forwards;
}

@keyframes smooth{
    100%{color: #a1d7cb;
        background-color: #1d7874;}
}

div #numbers #last .items, #equal{
    padding: 20px;
    color: #679289;
}

div #numbers #operations {
    grid-column-start: 4;
    grid-column-end: 5;
    display: grid;
    grid-template-columns: 50px 9px 50px;
    grid-template-rows:  50px 50px 50px 50px 50px 50px;
}


div #numbers #operations #minus{
    grid-row-start: 1;
    grid-row-end: 3;
    grid-column-start: 3;
    grid-column-end: 4;
    font-size: 20px;
    margin-right: -5px;
}

div #numbers #operations #plus{
    grid-row-start: 1;
    grid-row-end: 3;
    font-size: 25px;
    margin-right: -5px;
}

div #numbers #operations #ac{
    grid-row: 7;
    grid-column-start: 1;
    grid-column-end: 4;
    font-size: 25px;
    margin-right: -5px;
}

div #numbers #operations #multiply{
    grid-row-start: 4;
    grid-row-end: 6;
    grid-column-start: 3;
    grid-column-end: 4;
    font-size: 25px;
    margin-right: -5px;
}

div #numbers #operations #divide{
    grid-row-start: 4;
    grid-row-end: 6;
    font-size: 25px;
    margin-right: -5px;
}

div .title {
    text-align: center;
    background-color: #66bab6;
    color:#18615e;
    padding: 3px;
    border: solid 1px #66bab6;
    border-radius: 200px;
}

.links{
    padding: 10px;
    text-align: center;
    margin-top: -10px;
}
.links li{
    display: inline-block;
    text-decoration: none;
}
.links li img {
    border: solid 10px #e64f52;
    border-radius: 600px;
    width: 60px;
    transition: padding 0.3s;
    transition-timing-function: linear;
}

.links li img:hover {
    border: solid 5px white;
    padding: 10px;
}
@media screen and (max-width: 912px){
    div #numbers button {
        padding: 20px;
        font-size: 25px;
    }

    div .title{
        font-size: 30px;
    }
}

@media screen and (max-width: 393px){
    .grid {
        height: 80vh;
    }

    div #numbers button {
        padding: 10px;
        font-size: 16px;
    }

    div .title{
        font-size: 15px;
    }
    div #numbers #operations {
        padding: 1px;
        margin-left: -30px;
    }
    div #numbers #last .items, #equal{
        padding: 10px;
        color: #679289;
    }
}

@media screen and (max-width: 375px){
    .grid {
        height: 80vh;
    }
}



