@font-face {
    font-family: Unispace;
    src: url(./design/unispace.ttf) format(ttf);
}

html, body{
    font-family: 'Unispace', Unispace;
    overflow: hidden;
    background-color: #1b3f3d;
    text-align: center;
    margin: 0;
    padding: 0;
}

main{ 
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}


.grid{
    background-color: #1d7874;
    padding: 10px;
    border: solid 5px #a1d7cb;
    border-radius: 50px;
    grid-column: 2;
}


div #result {
    background-color: #e64f52;
    border: solid 1px #f35a5c;
    font-size: 25px;
    height: 50px;
    border-radius: 50px;
    color: #f4c095;
    margin-top: 20px;
}

div #result #answer {
    text-align: right;
    margin-right: 50px;
    margin-top: 10px;
}

div #numbers {
    display: grid; 
    grid-template-columns: 100px 50px 50px 100px;
    grid-template-rows: 100px 100px 100px 100px;
    justify-content: center;
    margin-top: 50px;
    margin-right: 10px;
}

div #numbers #seven{
    grid-column-start: 1;
    grid-column-end: 4;
    grid-row: 1;
    
}
div #numbers #four{
    grid-column-start: 1;
    grid-column-end: 4;
    grid-row: 2;
}

div #numbers #one{
    grid-column-start: 1;
    grid-column-end: 4;
    grid-row: 3;
}

div #numbers #last{
    grid-column-start: 1;
    grid-column-end: 4;
    grid-row: 4;
}

div #numbers button{
    font-family: 'Unispace';
    color: #1d7874;
    padding: 20px;
    background-color: #a1d7cb;
    border: solid #66bab6 2px;
    border-radius: 100px;
    font-size: 20px;
    font-weight: bold;
}

div #numbers button:hover{
    animation-name: smooth;
    animation-duration: 0.2s;
    animation-fill-mode: forwards;
}

@keyframes smooth{
    100%{color: #a1d7cb;
        background-color: #1d7874;}
}

div #numbers #last .items, #equal{
    padding: 20px;
    color: #679289;
}

div #numbers #operations {
    grid-column-start: 4;
    grid-column-end: 5;
    display: grid;
    grid-template-columns: 50px 9px 50px;
    grid-template-rows:  50px 50px 50px 50px 50px 50px;
}


div #numbers #operations #minus{
    grid-row-start: 1;
    grid-row-end: 3;
    grid-column-start: 3;
    grid-column-end: 4;
    font-size: 20px;
    margin-right: -5px;
}

div #numbers #operations #plus{
    grid-row-start: 1;
    grid-row-end: 3;
    font-size: 25px;
    margin-right: -5px;
}

div #numbers #operations #ac{
    grid-row: 7;
    grid-column-start: 1;
    grid-column-end: 4;
    font-size: 25px;
    margin-right: -5px;
}

div #numbers #operations #multiply{
    grid-row-start: 4;
    grid-row-end: 6;
    grid-column-start: 3;
    grid-column-end: 4;
    font-size: 25px;
    margin-right: -5px;
}

div #numbers #operations #divide{
    grid-row-start: 4;
    grid-row-end: 6;
    font-size: 25px;
    margin-right: -5px;
}

div .title {
    text-align: center;
    background-color: #66bab6;
    color:#18615e;
    padding: 3px;
    border: solid 1px #66bab6;
    border-radius: 200px;
}




.links{
    padding: 20px;
    text-align: center;
    margin-top: -50px;
}
.links li{
    display: inline-block;
    text-decoration: none;
}
.links li img {
    border: solid 2px #e64f52;
    border-radius: 600px;
    width: 60px;
    transition: padding 0.2s;
    transition-timing-function: linear;
}

.links li img:hover {
    border: solid 5px white;
    padding: 10px;
    margin-top: -20px;  
}


@media screen and (max-width: 1000px) {
    main {
        margin-top: 300px;
        display: grid;
        margin-left: 20px;
    }

    .links {
        display: none;
    }
    .grid {
        width: 200%;
        background-color: #1b3f3d;
        border: none;
        grid-column: 1;
    }
    #answer {
        font-size: 50px;
    }
    div #numbers {
        font-size: 25px;
    }
    div #result{
        height: 80px;
    }
}

@media screen and (max-width: 912px) {
    main {
        margin-top: 300px;
        display: grid;
        margin-left: 70px;
    }
}

@media screen and (max-width: 768px) {
    main {
        margin-top: 200px;
        display: grid;
        margin-left: -5px;
    }
    #answer {
        font-size: 50px;
    }
    div #numbers {
        font-size: 15px;
    }
    div #result{
        height: 80px;
    }
}

@media screen and (max-width: 540px) {
    main {
        margin-top: 50px;
        display: grid;
        margin-left: -5px;
    }
    .grid {
        width: 140%;
    }
    #answer {
        font-size: 60px;
    }
    div #numbers {
        font-size: 15px;
    }
    div #result{
        height: 80px;
    }
}

@media screen and (max-width: 500px) {
    main {
        margin-top: 100px;
        display: grid;
        margin-left: 10px;
    }
    .links {
        display: none;
    }
    .grid {
        width: 80%;
        background-color: #1b3f3d;
        border: none;
        grid-column: 2;
    }
}

@media screen and (max-width: 375px) {
    main {
        margin-top: 30px;
        display: grid;
    }
    .links {
        display: none;
    }
    .grid {
        width: 80%;
        background-color: #1b3f3d;
        padding: 25px;
        border: none;
        border-radius: 50px;
        grid-column: 2;
    }
}

@media screen and (max-width: 280px) {
    main {
        margin-top: 20px;
        display: grid;
    }
    .grid {
        width: 50%;
        background-color: #1b3f3d;
        border: none;
        border-radius: 50px;
        grid-column: 2;
    }
    #answer {
        font-size: 20px;
    }
    div #numbers {
        font-size: 1px;
    }
    div #result{
        height: 40px;
    }
}

